.carousel-inner img {
    width: 100%;
    margin-right: 5px;
  }
  *{
      padding: 0px;
      margin: 0px;
  }
  body{
      background-color: gainsboro;
  }
  .footer{
      background-color: black;
      color: whitesmoke;
  }
  h2{
      background-color: black;
      text-align: center;
      color: whitesmoke;
  }
  button{
      margin-left:240px;
      background-color: rgb(80, 80, 212);
      border-radius: 5px 5px;
      text-shadow: 1px 1px  gainsboro;
      padding: 8px;
  }
  hr{
      background-color: gainsboro;
      height: 1px;
  }
  form input{
      align-content: center;
  }